import * as S from './styles';

interface {{pascalCase name}}Props {}

export default function {{pascalCase name}}({}: {{pascalCase name}}Props) {
  return (
    <S.Container>
      <h1>{{pascalCase name}}</h1>
    </S.Container>
  );
}
